

.userImg {
    width: 100px;
    border-radius: 50px;
}

button {
    display: block;
}
.pagination {
    display: flex;

    & > .selectedPage {
        display: block;
        font-weight: bold;
    }
}